extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/topic' method='post')
    p  
      input(type='text' name='title' placeholder='title')
    p
      textarea(name='description')
    p
      input(type='submit')
  
  hr
  form(action='/upload' method='post' enctype='multipart/form-data')
    input(type='file' name='uploadfile')
    input(type='submit')
