<!DOCTYPE>
<html>

<head>
    <title>로그인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
</head>

<body>
    <div class="w3-container w3-center" style="padding-top: 5%"><h1>Sign in SeeAndChat</h1></div>
    <div class="w3-container w3-display-middle " >
        <form class="w3-container " action="./login" method="POST">
            <div class="w3-section">
                <label><b>회원이름</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="회원이름 입력..." name="userid" id="userid" required>
                <label><b>비밀번호</b></label>
                <input class="w3-input w3-border" type="password" placeholder="비밀번호 입력..." name="password" id="password" required>
                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">로그인</button>
            </div>
        </form>
    </div>
    <!--
    <div>
        <form action="./login"  method="POST">
            <div>
                ID <input type="text" name="userid" id = "userid"/>
            </div>
            <div>
                PASSWORD <input type="password" name="password" id="password"/>
            </div>
            <div>
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
    -->
</body>

</html>